<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JspRegDemo1</display-name>
  <welcome-file-list>
    <welcome-file>user_reg.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginEmployee</display-name>
    <servlet-name>LoginEmployee</servlet-name>
    <servlet-class>com.bridgeit.jspregistration.LoginEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginEmployee</servlet-name>
    <url-pattern>/loginemp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterEmployee</display-name>
    <servlet-name>RegisterEmployee</servlet-name>
    <servlet-class>com.bridgeit.jspregistration.RegisterEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterEmployee</servlet-name>
    <url-pattern>/RegisterEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgeWisedisplayEmployee</display-name>
    <servlet-name>AgeWisedisplayEmployee</servlet-name>
    <servlet-class>com.bridgeit.jspregistration.EmployeeDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgeWisedisplayEmployee</servlet-name>
    <url-pattern>/employeeDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutUser</display-name>
    <servlet-name>LogoutUser</servlet-name>
    <servlet-class>com.bridgeit.jspregistration.LogoutUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutUser</servlet-name>
    <url-pattern>/LogoutUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegistration</display-name>
    <servlet-name>UserRegistration</servlet-name>
    <servlet-class>com.bridgeit.jspregistration.LogoutUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistration</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegistration1</display-name>
    <servlet-name>UserRegistration1</servlet-name>
    <servlet-class>com.bridgeit.jspregistration.UserRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistration1</servlet-name>
    <url-pattern>/userregi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegistrationController</display-name>
    <servlet-name>UserRegistrationController</servlet-name>
    <servlet-class>com.bridgeit.jspregistration.controller.registerUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistrationController</servlet-name>
    <url-pattern>/userreg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerUserController</display-name>
    <servlet-name>registerUserController</servlet-name>
    <servlet-class>com.bridgeit.jspregistration.controller.registerUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerUserController</servlet-name>
    <url-pattern>/registerUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerEmployeeController</display-name>
    <servlet-name>registerEmployeeController</servlet-name>
    <servlet-class>com.bridgeit.jspregistration.controller.registerEmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerEmployeeController</servlet-name>
    <url-pattern>/registerEmployeeController</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>UpdateData</display-name>
    <servlet-name>UpdateData</servlet-name>
    <servlet-class>com.bridgeit.jspregistration.UpdateData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateData</servlet-name>
    <url-pattern>/updateData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteData1</display-name>
    <servlet-name>DeleteData1</servlet-name>
    <servlet-class>com.bridgeit.jspregistration.DeleteData1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteData1</servlet-name>
    <url-pattern>/DeleteData</url-pattern>
  </servlet-mapping>
</web-app>