.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a
	{
	color: #38c;
	/* font-weight: 700; */
}

.container {
	width: 100%;
	background-color: #519ad6;
}

.content {
	margin-top: 30%;
}
.ui-mobile .ui-page {
	min-height: 300px;
	background-color: #bac9d6;
}

.h4, h4 {
	text-align: center;
	font-size: 18px;
}

.modal-header {
	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
	background-color: #f4a742;
}

.modal-footer {
	padding: 15px;
	text-align: right;
	border-top: 1px solid #e5e5e5;
	background-color: #f4a742;
}